<body>
    <h1>Welcome to DelFood</h1>
    <hr/>
    <p>In order to restore your password please click the link below</p>
    <a href="$recoveryLink" style="margin-bottom: 10px;">Restore password</a>
    <hr/>
    <footer>
        <p>All the best</p>
        <p>The DelFood company</p>
    </footer>
</body>